/* Page.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url(./../img/result_background.png);
    background-size: cover;
    font-family: "smartFont";
    font-size: 32px;
}

.h1{
    margin-top: 20px;
}

.background {
    width: 350px;
    height: 804px;
    padding: 0;
    flex-direction: column;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #F2F7FA 0%, #F2F7FA 40%, rgba(242, 247, 250, 0.80) 100%);
    align-items: center;
    box-shadow: 2px 4px 16px 0px rgba(2, 1, 34, 0.20);

}

.input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    outline: none;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: var(--color-blue);
    box-shadow: var(--shadow-black);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 40px;
}

.button:hover {
    background-color: #0056b3;
}

.rankingusers{ 
    padding:20px 0;
}

.rank{
    float: left;
    font-size: 22px;
    color:#57CC02;
    font-weight: bold;
}

.teamname{
    padding:0 20px;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
}

.corrects{
    float: right;
    font-size: 22px;
    color:#781818;
    font-weight: bold;
}
